{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
  <title>Upaj</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
    var latlngo = {lat : "", long : ""};
  navigator.geolocation.getCurrentPosition(function(position) {
    // latlngo.lat = position.coords.latitude.toString();
    // latlngo = position.coords.latitude + ' ' + position.coords.longitude;

    const Http = new XMLHttpRequest();
    const url='https://dev.virtualearth.net/REST/v1/Locations/'+position.coords.latitude + ',' + position.coords.longitude + '?key=AoTJ0es6QeGwvVw9Fb4LCrAhUtdt6ZeDN-eWENSWR8ddNEWPWQ0pTvsA1HZ1ktJj';
    Http.open("GET", url);
    Http.send();
    result = "";
    flag = 0;
    Http.onreadystatechange=function(){
      result = Http.responseText;
      var obj = JSON.parse(result);
      var address = obj.resourceSets["0"]["resources"]["0"]["address"]["formattedAddress"];
      document.getElementById("loc").innerHTML = address;
      const http = new XMLHttpRequest();
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      const url_weather = 'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=c4ebee5432d574b968a2332bfa6ab6f4&units=metric';
      http.open("POST", url_weather);
      http.send();
      res = "";
      http.onreadystatechange = function(){
        res = http.responseText;
        var ob = JSON.parse(res);
        var temp = ob["main"]["temp"];
        var humidity = ob["main"]["humidity"];
        var condition = ob["weather"]["0"]["description"];
        document.getElementById("temp").innerHTML = temp;
        document.getElementById("humidity").innerHTML = humidity;
        if(flag == 0){
          flag = 1;
          var img = document.createElement("img")
          if(condition.includes("cloud")){
            img.src = "../../static/images/haze.png";
          }
          else{
            img.src = "../../static/images/sunny.png";
          }
          img.style.height = "5vw"
          var src = document.getElementById("image_weather");
          src.appendChild(img);
        }
      }
      result = "";
      const protocol = new XMLHttpRequest();
      const url_forecast = 'http://api.weatherunlocked.com/api/forecast/23.17,80.02?app_id=c8fc446a&app_key=b774914ba609ae0aacbb827fc88d64a4';
      protocol.open("GET", url_forecast);
      protocol.send();
      protocol.onreadystatechange = function(){
        result = protocol.responseText;
        var object = JSON.parse(result)
        var i;
        for(i = 0; i < 5; i++){
          var data_in = object["Days"][i.toString()];
          var data_insert = 'day' + (i+1).toString();
          var data2 = data_insert + '_data';
          var data3 = data_insert + '_data2';
          var data_rise = "rise" + (i+1).toString();
          var data_set = "set" + (i+1).toString();
          document.getElementById(data_insert).innerHTML = data_in["date"];
          document.getElementById(data2).innerHTML = data_in["temp_max_c"] + "C";
          document.getElementById(data3).innerHTML = data_in["temp_min_c"] + "C";
          document.getElementById(data_rise).innerHTML = data_in["sunrise_time"];
          document.getElementById(data_set).innerHTML = data_in["sunset_time"];
        }
        // parser = new DOMParser();
        // xmlDoc = parser.parseFromString(result);
        // document.getElementById("demo").innerHTML = xmlDoc.getElementsByTagName("title")[0].childNodes[0].nodeValue;
      }
    }
  });
  var rain = {{ rain|safe }};
  var rain_year = {{ rain_year|safe }};
  var st = "{{ rain_state }}";
  var title = "Rainfall in " + st + " over years (mm)";

  var crop = {{ crop|safe }}
  var prod = {{ prod|safe }}
  var st = "{{ state }}";
  var year = "{{ year }}"
  var title2 = "Top 5 crops in " + st + " in " + year + " (1000 tonnes)";

  var total_state = {{ total_states| safe}}

  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer2", {
        title:{
          text: title
        },
        data: [
        {
          // Change type to "doughnut", "line", "splineArea", etc.
          type: "splineArea",
          dataPoints: [
            { label: rain_year[0], y: rain[0]  },
            { label: rain_year[1], y: rain[1]  },
            { label: rain_year[2], y: rain[2]  },
            { label: rain_year[3], y: rain[3]  },
            { label: rain_year[4], y: rain[4]  },
            { label: rain_year[5], y: rain[5]  },
            { label: rain_year[6], y: rain[6]  },
            { label: rain_year[7], y: rain[7]  },
            { label: rain_year[8], y: rain[8]  },
            { label: rain_year[9], y: rain[9]  },
            { label: rain_year[10], y: rain[10]  },
            { label: rain_year[11], y: rain[11]  },
            { label: rain_year[12], y: rain[12]  },
            { label: rain_year[13], y: rain[13]  },
            { label: rain_year[14], y: rain[14]  }
          ]
        }
      ]
    });
    chart.render();

    var chart2 = new CanvasJS.Chart("chartContainer", {
      title:{
        text: title2
      },
      data: [
      {
        // Change type to "doughnut", "line", "splineArea", etc.
        type: "splineArea",
        dataPoints: [
          { label: crop[0], y: prod[0]/1000  },
          { label: crop[1], y: prod[1]/1000  },
          { label: crop[2], y: prod[2]/1000  },
          { label: crop[3], y: prod[3]/1000  },
          { label: crop[4], y: prod[4]/1000  }
        ]
      }
    ]
  });
  chart2.render();
}
  </script>
<style>

/* Scroll Bar */
  /* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:lightseagreen;
    border-radius: 20px;
}

</style>

  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="" class="brand-logo">
        <img src="{% static 'images/logo.png' %}" style="height: 9vh; width: auto;">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" style="color: teal;">What is Upaj?</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Upaj</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your personal farming advisor.</h5>
        </div>
        <div class="row center">
          <button href="" class="trigger btn-large waves-effect waves-light teal lighten-1 pulse ">Chat Now</button>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/back.jpg' %}"></div>
  </div>

  <div class="owl-carousel">
          <div class="collection-item avatar">
            <i class="material-icons circle green"><img src="{% static 'images/sunny.png'%}"></i>
            <b><span class="title" id = "day1"></span></b>
            <p>Max : <span id="day1_data"></span>    Min : <span id="day1_data2"></span>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>

          <div class="collection-item avatar">
            <i class="material-icons circle green"><img src="{% static 'images/sunny.png'%}"></i>
            <b><span class="title" id = "day2"></span></b>
            <p>Max : <span id="day2_data"></span>     Min : <span id="day2_data2"></span>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>

          <div class="collection-item avatar">
            <i class="material-icons circle green"><img src="{% static 'images/sunny.png'%}"></i>
            <b><span class="title" id = "day3"></span></b>
            <p>Max : <span id="day3_data"></span>    Min : <span id="day3_data2"></span>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>

          <div class="collection-item avatar">
              <i class="material-icons circle green"><img src="{% static 'images/sunny.png'%}"></i>
              <b><span class="title" id = "day4"></span></b>
              <p>Max : <span id="day4_data"></span>    Min : <span id="day4_data2"></span>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>
          <div class="collection-item avatar">
              <i class="material-icons circle green"><img src="{% static 'images/sunny.png'%}"></i>
              <b><span class="title" id = "day5"></span></b>
              <p>Max : <span id="day5_data"></span>    Min : <span id="day5_data2"></span>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>
  </div>

  <div class="container" style="float:left;" >
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s10 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="{% static 'images/agriculture.jpeg' %}"></h2>
            <h5 class="center">Top Crop Producing States</h5>

            <p class="light"><b><center> Rice - West Bengal<br> Wheat - Uttar Pradesh <br> Cotton - Gujrat <br> Jute - West Bengal <br> Tea - Assam </center></b></p>
          </div>
        </div>

        <div class="col s10 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="{% static 'images/m-cloudy.png' %}" height="120vh" width = "auto"></h2>
            <h5 class="center">Weather Today</h5>

            <p class="light"><b><center>You are at <span id='loc'></span>.<br> Today's temperature is <span id='temp'></span><sup> o</sup>C<br> Humidity: <span id='humidity'></span>% <br></center></b></p>
          </div>
        </div>

        <div class="col s10 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="{% static 'images/msp.png' %}" height="120vw"></h2>
            <h5 class="center">Minimum Support Price</h5>

            <p class="light"><b><center>Wheat - 1735/quintal <br> Rice - 1560/quintal <br> Maize - 1345/quintal <br> Mustard - 4000/quintal</center></b></p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="container" >
      <div class="section">
          <div class="row">

          <div class="col s12 m4">
            <div class="icon-block">
              <h6 class="center brown-text">Top 5 crops</h6>
              <form action="{% url 'home' %}" method="POST" >
                {% csrf_token %}
                State :
                <input type="text" name = 'state' required>
                Year : <input type="text" name = 'year' required>
                <button type="submit" class="btn-small waves-effect waves-light teal lighten-1  ">Submit</button>
              </form>

            </div>
          </div>

          <div class="col s24 m8">
              <div id="chartContainer" style="width: 50vw; height: 50vh;"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">

              <div class="col s12 m4">
                  <div class="icon-block">
                    <h6 class="center brown-text">Rainfall over years</h6>
                    <form action="{% url 'home' %}" method="POST" >
                      {% csrf_token %}
                      State : <input type="text" name = 'rain_state' required><br>
                      <button type="submit" class="btn-small waves-effect waves-light teal lighten-1  ">Submit</button>
                    </form>

                  </div>
                </div>

            <div class="col s24 m8">
                <div id="chartContainer2" style="width: 50vw; height: 50vh;"></div>

            </div>
          </div>
        </div>
      </div>



 <div class="container" style="display : none;">
    <div class="header"><img src="{% static 'images/weather_report.png'%}" height="50vh"></div>
    <div class="card" style="width:12vw; float: left;">
        <center>
        <div class="card-body" style="background-color: darkcyan; color: white;">
            <b><h6 class="card-title" id="day1"></h6></b>
            <strong>Max : <span id="day1_data"></span><br>Min : <span id="day1_data2"></span><br>Sunrise : <span id="rise1"></span>am<br>Sunset : <span id="set1"></span>pm</strong>
        </div>
      </center>
    </div>
    <div class="card" style="width:12vw; float: left;">
        <center>
        <div class="card-body" style="background-color: darkcyan; color: white;">
            <h6 class="card-title" style = "font:20px;" id="day2"></h6>
            <strong>Max : <span id="day2_data"></span><br>Min : <span id="day2_data2"></span><br>Sunrise : <span id="rise2"></span>am<br>Sunset : <span id="set2"></span>pm</strong>
        </div>
      </center>
    </div>
    <div class="card" style="width:12vw;float: left;">
        <center>
        <div class="card-body" style="background-color: darkcyan; color: white;">
            <h6 class="card-title" style = "font:20px;" id="day3"></h6>
            <strong>Max : <span id="day3_data"></span><br>Min : <span id="day3_data2"></span><br>Sunrise : <span id="rise3"></span>am<br>Sunset : <span id="set3"></span>pm</strong>
        </div>
      </center>
    </div>
    <div class="card" style="width:12vw; float: left;">
        <center>
        <div class="card-body" style="background-color: darkcyan; color: white;">
            <h6 class="card-title" style = "font:20px;" id="day4"></h6>
            <strong>Max : <span id="day4_data"></span><br>Min : <span id="day4_data2"></span><br>Sunrise : <span id="rise4"></span>am<br>Sunset : <span id="set4"></span>pm</strong>
        </div>
      </center>
    </div>
    <div class="card" style="width:12vw; float: left;">
        <center>
        <div class="card-body" style="background-color: darkcyan; color: white;">
            <h6 class="card-title" style = "font:20px;" id="day5"></h6>
            <strong>Max : <span id="day5_data"></span><br>Min : <span id="day5_data2"></span><br>Sunrise : <span id="rise5"></span>am<br>Sunset : <span id="set5"></span>pm</strong>
        </div>
      </center>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/wheat.png' %}" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Upaj</h5>
          <p class="grey-text text-lighten-4">A chatbot aimed at making farming easier and bring the next green-tech revolution.</p>


        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Government Websites</h5>
          <ul>
            <li><a class="white-text" href="http://agriculture.gov.in/" target="_blank">Ministry of Agriculture & Farmers' Welfare</a></li>
            <li><a class="white-text" href="https://farmer.gov.in/stateagridepartments.aspx" target="_blank">State Agriculture Departments</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Developers</h5>
          <ul>
            <li><a class="white-text" href="#!">Devang Mehta</a></li>
            <li><a class="white-text" href="https://github.com/anuj97">Anuj Upadhyay</a></li>
            <li><a class="white-text" href="#!">Noman</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!-- Slider Chat Pane -->
  <div id="chat-pane">
    <div class="chat">
      <div class="chat-title">
        <h1>Upaj</h1>
        <h2>Here to Help</h2>
        {% csrf_token %}
        <figure class="avatar">
          <img src="{% static 'images/chathead.png' %}" /></figure>
      </div>
      <div class="messages">
        <div class="messages-content"></div>
      </div>
      <div class="message-box">
        <textarea type="text" class="message-input" name="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src = "{% static 'js/jquery.slidereveal.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'js/materialize.js' %}"></script>
  <script type="text/javascript" src = "{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'js/init.js' %}"></script>
</body>
</html>
